*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Lato','Raleway','Roboto',sans-serif; 
}
body,header,main,.columna-derecha,.columna-izquierda,footer{
	display: flex
}
body{
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
}
header{
	color:#ffffff;
	background-color: #FFA593;
	justify-content: center;
	align-items: center;
}
img, .columna-izquierda{
	border:solid;
	border-color:#EF7965;
	border-width: 45px;
}
div{
	max-width: 320px;
	margin:5%;
}
#nombre{
	font-weight: 900;
	font-size: 2.5em;
}
.subtitulo{
	font-weight: 300;
	font-size: 0.9em;
}
main{
	justify-content: center;
	align-items: flex-start;
}
li{
	line-height: 1.7em;
}
.columna-derecha article{
	margin: 4% 0% 4% 0%;
}
.columna-izquierda article{
	margin: 7% 0% 7% 0%;
}
.columna-derecha, .columna-izquierda{
	font-size:0.8em;
	flex-direction: column;
	align-content: space-around;
}
.columna-derecha{
	color:#27020B;
	max-width: 320px;
	margin: 3% 5% 0% 5%;
}
.columna-izquierda{
	color:#ffffff;
	background-color:#EF7965;
	max-width: 170px;
}
.titulos-derecha, .titulos-izquierda{
	color:#27020B;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 3%;
}
.titulos-izquierda{
	font-weight: 400;
	font-style: italic;
	font-size: 1.7em;
}
.titulos-derecha{
	font-weight:700;
	font-size: 1.3em;
}
footer{
	font-style: italic;
	color:#27020B;
	background-color: #FFA593;
	justify-content: center;
	align-items: center;
	border:solid;
	border-color:#FFA593;
	border-width: 18px;
}