*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Lato', sans-serif;
}
body,header,main,.columna-derecha,.columna-izquierda,footer{
	display: flex
}
body{
	max-width: 600px; /* este es el principal problema, al usar medidas fijas hacés que el body quede marginado a la izquierda, si quitamos esta propiedad vas a ver que todo empieza a abarcar la totalidad de la página */
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}
header{
	color:#ffffff;
	background-color: #FFA593;
	max-height: 225px;
	padding-bottom: 23px;
	justify-content: center;
	align-items: center;
}
img{
	border:solid;
	border-color:#EF7965;
	border-width: 34px;
}
#nombre{
	font-weight: 900;
	font-size: 40px;
	margin: 5%
}
.subtitulo{
	font-weight: 300;
	font-size: 14px; /* tu tp va muy bien, te invito a investigar sobre los tamaños de tipografías en em, es el sistema de medida, lo podés buscar como "em font size". si no llegás a poder dominarlo, segupi trabajando en píxeles */
	margin: 5%
}
main{
	
} /* no dejes selectores vacíos!! de todos modos, este main es super útil, si le agregás alguna propiedad de flex para que se centre el contenido vas a ver que el diseño va mejorando mucho*/
.columna-derecha{
	color:#27020B;
	font-size: 10px;
	flex-direction: column;
	
}
.columna-izquierda{
	color:#ffffff;
	font-size: 10px;
	background-color: #EF7965;
	max-width: 237px; 
	max-height: 430px; /* esta propiedad en general no se usa porque todo lo que es tamaños de altos se los da el contenido mismo, si lo quitás todo se va a seguir viendo igual */
	padding: 50px,50px,36px,36px; /* los valores no llevan comas, el espacio es suficiente para separarlos*/
	flex-direction: column;
}
.titulos-derecha{
	color:#27020B;
	font-family: 'Raleway', sans-serif;
}
.titulos-izquierda{
	color:#27020B;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	
}
footer{
	color:#27020B;
	background-color: #FFA593;
	height: 38px;
	justify-content: center;
	align-items: center;
}
